<table class="table table--data">
  <tbody>
    <tr>
      <th class= "header"></th>
      <th class= "header header--category" data-field="countryName">{{fieldDefs.countryName.label}}</th>
      {{#with fieldDefs.areaLoss}}<th class="header header--area header--sortable header--dividing{{#if isActive}} header--active{{/if}}{{#if isSorted}} header--sorted{{/if}}" data-field="areaLoss">{{label}}<br>({{units}})</th>{{/with}}
      {{#with fieldDefs.percentLoss}}<th class="header header--area header--sortable{{#if isActive}} header--active{{/if}}{{#if isSorted}} header--sorted{{/if}}" data-field="percentLoss">{{label}}<br>({{units}})</th>{{/with}}
      {{#with fieldDefs.financeResultsBased}}<th class="header header--finance header--sortable header--dividing{{#if isActive}} header--active{{/if}}{{#if isSorted}} header--sorted{{/if}}" data-field="financeResultsBased">{{label}}<br>({{units}})</th>{{/with}}
      {{#with fieldDefs.financePhase}}<th class="header header--finance header--sortable{{#if isActive}} header--active{{/if}}{{#if isSorted}} header--sorted{{/if}}" data-field="financePhase">{{label}}<br>({{units}})</th>{{/with}}
      {{#with fieldDefs.financeDevelopment}}<th class="header header--finance header--sortable{{#if isActive}} header--active{{/if}}{{#if isSorted}} header--sorted{{/if}}" data-field="financeDevelopment">{{label}}<br>({{units}})</th>{{/with}}
    </tr>
    {{#each data}}
      <tr>
        <td class="cell" style="text-align: right;">{{index}}</td>
        <td class="cell">{{countryName}}</td>
        <td class="cell cell--number cell--dividing"><span class="number">{{areaLoss.string}}</span></td>
        <td class="cell cell--number"><span class="number">{{percentLoss.string}}</span></td>
        <td class="cell cell--number cell--dividing"><span class="number">{{financeResultsBased.string}}</span></td>
        <td class="cell cell--number"><span class="number">{{financePhase.string}}</span></td>
        <td class="cell cell--number"><span class="number">{{financeDevelopment.string}}</span></td>
      </tr>
    {{/each}}
  </tbody>
</table>
